<form id="formularioAtendimento" action="/cadastro_atendimento" method="POST">
<h3 class="titulo">Cliente</h3>

<p>Nome</p>
<input class="imputAtendimento" type="text" name="nome_cliente">

<p>Empresa</p>
<input class="imputAtendimento" type="text" name="nome_empresa">

<p>Telefone</p>
<input class="imputAtendimento" type="text" name="telefone_cliente">

<p>Problema</p>
<textarea name="problema_cliente"></textarea>

<h3 class="titulo">Endereço</h3>

<p>Endereço</p>
<input class="imputAtendimento" type="text" name="endereco_cliente_rua">

<p>Número</p>
<input class="imputAtendimento" type="text" name="endereco_cliente_numero">

<p>Complemento</p>
<textarea name="endereco_cliente_complemento"></textarea>

<p>Status</p>
<input type="radio" id="Finalizado" name="Radio" value="Finalizado">Finalizado <br>

<input type="radio" id="Pendente" name="Radio" value="Pendente">Pendente <br>


<p id="funcionarioSelect" >Funcionário</p>
<select id="selecionarFuncionario"  name="nome_funcionario">
{{#each funcionarios}}
   <option >{{dataValues.nome_funcionario}}</option>
{{/each}}
</select> <br>
<button id="botaoAtendimento" type="submit">Cadastrar atendimento</button>
</form>


