<form action="/EmpresaCadastro" method="POST">
    <p>CNPJ</p>
    <input type="text" name="CNPJEmpresa">
    <p>Nome</p>
    <input type="text" name="NomeEmpresa">
    <P>logradouro</P>
    <input type="text" name="EnderecoEmpresaRua">
    <p>Número</p>
    <input type="text" name="EnderecoEmpresaNumero">
    <p>Complemento</p>
    <textarea name="EnderecoEmpresaComplemento"></textarea>
    <p>Telefone</p>
    <input type="text" name="TelefoneEmpresa">
    <button type="submit">Adicionar empresa</button>
</form>