<form action="/AtendimentoRealizado" method="POST">
<h3>Cliente</h3>

<p>Nome</p>
<input type="text" name="NomeCliente">
<p>Empresa</p>
<input type="text" name="EmpresaCliente">
<p>Telefone</p>
<input type="text" name="TelefoneCliente">

<h3>Endereço</h3>

<p>Endereço</p>
<input type="text" name="EnderecoCliente">
<p>Número</p>
<input type="text" name="NumeroCliente">
<p>Complemento</p>
<textarea name="ComplementoCliente"></textarea>
<button type="submit">Cadastrar atendimento</button>
</form>


