
<form id="formularioFuncionario" action="/cadastro_funcionario" method="POST">
<h1 id="TituloFuncionario">Cadastro de funcionario</h1>
   
  <label>Nome: </label><input type="text" name="nome_funcionario"><br>
    
  <label>Telefone: </label><input type="text" id="telefone" name="telefone_funcionario"><br>
    
  <label>Email: </label><input type="text" name="email_funcionario"> <br> 
      
    
    <button id="botaoFuncionario" type="submit">Adicionar Funcionario</button>
</form>