<form action="/cadastro_funcionario" method="POST">
    <p>Nome</p>
    <input type="text" name="nome_funcionario">
    <p>Telefone</p>
    <input type="text" name="telefone_funcionario">
    <p>Email</p>
    <input type="text" name="email_funcionario">

    <button type="submit">Adicionar Funcionario</button>
</form>