    <table>
        <tr>
            <td colspan="2"><h3>Lista de funcionarios</h3></td>
        </tr>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Data de criação</th>
        </tr>
        {{#each funcionarios}}
        <tr>
   <td>{{dataValues.nome_funcionario}}</td>
   <td>{{dataValues.telefone_funcionario}}</td>
   <td>{{dataValues.Email_funcionario}}</td>
   <td>{{dataValues.createdAt}} </td>
   </tr>
   {{/each}}
   </table>

